.AMPEL_user.txt
.AMPEL_pass.txt
.EXTCAT_user.txt
.EXTCAT_pass.txt
*.cred
.slack_access_token.txt
.slack_bot_access_token.txt
summary/*
LIGO_candidates/*
LIGO_skymaps/*
LIGO_dat/*
Neutrino_candidates/*
__pycache__/*
LIGO_cache/*
env/*
.python-version
