git+https://github.com/AmpelProject/Ampel-ZTF@master
git+https://github.com/AmpelProject/Ampel-base@master
git+https://github.com/AmpelProject/Ampel-core@master
git+https://github.com/AmpelProject/Ampel-base-ZTF@master
git+https://github.com/AmpelProject/Ampel-contrib-HU@master
