setuptools>=46.4.0
git+ssh://git@github.com/AmpelProject/Ampel-interface.git
git+ssh://git@github.com/AmpelProject/Ampel-core.git
git+ssh://git@github.com/AmpelProject/Ampel-alerts.git
git+ssh://git@github.com/AmpelProject/Ampel-photometry.git
git+ssh://git@github.com/AmpelProject/Ampel-ZTF.git
git+ssh://git@github.com/AmpelProject/Ampel-contrib-HU.git
git+ssh://git@github.com/robertdstein/Ampel-contrib-ZTFbh.git
git+ssh://git@github.com/AmpelProject/Ampel-contrib-annz.git
backoff
