# Set ZTF Backend
# ZTF_BACKEND=ampel
# KOWALSKI_API_TOKEN=your_token
# FRITZ_TOKEN=your_token
# NUZTF_DIR=/path/to/desired/output/directory
# DESY_CLOUD_TOKEN=your_token
# TNS_API_TOKEN=your_token
# AMPEL_API_ARCHIVE_TOKEN=your_token
# DEPOT_USER=your_user
# DEPOT_PASSWORD=your_password
# SKYVISION_USER=your_user
# SKYVISION_PASSWORD=your_password
# IRSA_USER=your_user
# IRSA_PASSWORD=your_password
