pyvo==1.1
extcats==2.4.1
pymongo==3.11.4
gwemopt==0.0.72
wget==3.2
healpy==1.14.0
jupyter==1.0.0
matplotlib==3.4.2
numpy==1.20.3
datetime==4.3
pandas==1.2.4
tqdm==4.61.0
astropy==4.2.1
astropy_healpix==0.6
fitsio==1.1.4
ipykernel==5.5.5
sqlalchemy==1.4.17
scipy==1.6.3
requests==2.25.1
psycopg2-binary==2.8.6
ztfquery==1.15.5
pysedm==0.27.4
catsHTM==0.1.32
slackclient==2.9.3
shapely==1.7.1
astrobject==0.8.6
ligo-gracedb==2.7.6
bs4==0.0.1
lxml==4.6.3
fastavro==1.4.1
pydantic==1.4
zerorpc==0.6.3
sklearn==0.0
ztf_plan_obs==0.33
ratelimit==2.2.1
coveralls==3.1.0
setuptools==57.0.0
ampel-interface==0.7.1
ampel-core==0.7.4
ampel-alerts==0.7.2
ampel-photometry==0.7.1
ampel-ztf==0.7.2
backoff==1.10.0