pyvo
extcats
pymongo
gwemopt
wget
healpy
jupyter
matplotlib
numpy
datetime
pandas
tqdm
astropy
astropy_healpix
fitsio
ipykernel
sqlalchemy
scipy
requests
psycopg2-binary
ztfquery
git+https://github.com/MickaelRigault/pysedm@master
catsHTM
slackclient
shapely
astrobject
ligo-gracedb
bs4
lxml
fastavro
pydantic
zerorpc
sklearn
ztf_plan_obs
ratelimit
setuptools>=46.4.0
git+https://github.com/AmpelProject/Ampel-interface.git
git+https://github.com/AmpelProject/Ampel-core.git
git+https://github.com/AmpelProject/Ampel-alerts.git
git+https://github.com/AmpelProject/Ampel-photometry.git
git+https://github.com/AmpelProject/Ampel-ZTF.git
backoff
