pyvo
extcats
pymongo
gwemopt
wget
healpy
jupyter
matplotlib
numpy
datetime
pandas
tqdm
astropy
astropy_healpix
fitsio
ipykernel
sqlalchemy
scipy
requests
psycopg2-binary
ztfquery
pysedm
catsHTM
slackclient
shapely
astrobject
ligo-gracedb
bs4
lxml
fastavro
pydantic
zerorpc
sklearn
ztf_plan_obs
ratelimit
coveralls
setuptools>=46.4.0
Ampel-interface
Ampel-core
Ampel-alerts
Ampel-photometry
Ampel-ZTF
backoff